.col2-left-layout {
	background-position: -573px 0;
}

.col2-left-layout .col-main {
    background: none repeat scroll 0 0 center rgba(0, 0, 0, 0);
    color: #381A00;
    margin-left: 0;
    width: 937px;
    position: relative;
    float: right;
}

.col2-left-layout .col-main {
	background: rgba(0, 0, 0, 0) url('../images/public-content-bg.jpg') repeat-y scroll 0 0;
}

.col2-left-layout .col-main h1 {
	font-family: "Museo Slab 500", "Museo 500";
	font-size: 28px;
	font-weight: 500;
	line-height: 32px;
}

.col2-left-layout .col-left.sidebar {
	float: left;
	margin: 132px 0 0 92px;
	width: 100px;
}

.cms-page-view .col2-left-layout .col-main {
    background: url("../images/public-content-bg.jpg") repeat-y scroll 0 0 rgba(0, 0, 0, 0) !important;
}

.full-content-no-image-page {
    float: left;
    margin: 0 20px 40px 0;
    padding: 0 0 0 5px;
    width: 800px;
}

.mtl {
    margin-top: 20px !important;
}


.strong {
    font-weight: bold;
}

ul.disc li {
    font-size: 13px;
    margin-bottom: 5px;
    margin-left: 15px;
}

.breadcrumbs {
    background: none repeat scroll 0 center rgba(0, 0, 0, 0);
    color: #381A00;
    font: 12px arial;
    margin-top: 21px;
    padding: 0 0 0 52px;
}

.breadcrumbs li {
    display: inline;
}

.breadcrumbs li span, .breadcrumbs a {
	color: #381A00;
	text-decoration: none !important;
}

.breadcrumbs ul li:last-child {
    display: none;
}

.breadcrumbs ul li:nth-last-child(2) span {
    display: none;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.cms-page-view .breadcrumbs {
    color: #381A00;
    font-family: "museo-slab",serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 6px;
}

.cms-page-view .breadcrumbs {
    background: none repeat scroll 0 center rgba(0, 0, 0, 0);
    left: 25px;
    position: absolute;
    top: 110px;
}

.col2-left-layout .breadcrumbs {
    padding: 0 0 15px 45px !important;
    width: 600px;
}

.cms-page-view .col2-left-layout .breadcrumbs {
    padding: 0 0 0 45px !important;
}

#messages_product_view {
    margin: 0 -20px;
    position: relative;
    z-index: 1;
}

.catalog-category-view .col2-left-layout .category-view {
	margin: 0;
	overflow: visible;
}

.category-view {
    margin: 0 -20px -20px
}

.category-view .promo {
	height: 382px;
	margin: 0 auto 20px 215px;
	padding: 0;
	width: 970px;
}

.category-view .promo a.seeDetail {
    background-color: #A9861D;
    border-top: 2px solid #BA9E4A;
    color: #FFFFFF;
    font-size: 11px;
    margin-left: 15px;
    margin-top: 4px;
    padding: 2px 10px;
    text-transform: uppercase;
}

.category-view a.product-shop-grid, .category-view .promo a {
    background-color: #A9861D;
    border-top: 2px solid #BA9E4A;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: normal;
}

body.catalog-category-view div.wrapper div.page div.main div.col-left, .catalog-product-view.peets-card .col-left.sidebar {
    float: left;
    margin: 40px 0 0 95px;
    width: 138px;
}


.catalog-category-view .col2-left-layout .category-view {
    margin: 0;
    overflow: visible;
}

.catalog-category-view a {
    color: #381A00;
}

.sidebar {
	min-height: 350px;
}

.col-left {
	float: left;
	margin: 0 0 -1px;
	padding: 0;
	width: 182px;
}

.catalog-category-view .col2-left-layout .category-view {
    margin: 0;
    overflow: visible;
}


.article-w-image-page {
    position: relative;
    padding-left: 45px;    
}

.article-w-image-page h1 {
    margin-top: 25px;
}

#headline-box {
    left: 23px;
    position: relative;
    top: 96px;
}

#headerBackground {
	width:846px;
	height:269px; 
	border:0;
    z-index: 3;
    position:absolute;
}

#headline-box h1 {
    color: #FFFFFF;
    font-size: 30px;
    margin-top: 0;
    position: relative;
    top: 10px;
    z-index: 9;
}

#headline-box h2 {
	color: #FFFFFF;
	font-family: "Museo Slab 500", "Museo 500";
	font-size: 18px;
	position: relative;
	top: 20px;
	z-index: 8;
	letter-spacing: 1px;
}


#subscriptionsContent {
    margin-top: 210px;
    padding-bottom: 1px;
    width: 850px;
}

.content-body {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 5px 0 45px;
    
}

#subscriptionsContent h3 {
	font-family: "Museo Slab 500", "Museo 500";
	font-size: 17px;
	margin-bottom: 10px;
}

#subscriptionsContent h4 {
	background: url("http://d3mrtwiv4dr09z.cloudfront.net/media/wysiwyg/rule-semi-transparent.png") no-repeat scroll 0 13px rgba(0, 0, 0, 0);
	font-family: "Museo Slab 500", "Museo 500";
	font-size: 19px;
	margin-bottom: 15px;
	margin-top: 15px;
	text-align: center;
}

#subscriptionsSubhead {
    background: url("http://d3mrtwiv4dr09z.cloudfront.net/media/wysiwyg/subscriptions-subhead-background-image.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #8C6239;
    font-family: museo-slab-n5,museo-slab;
    font-size: 16px;
    line-height: 48px;
    margin-bottom: 70px;
    margin-top: 1px;
    text-align: center;
}

#subscriptionsSubhead span {
    color: #381A00;
}

#subscriptionsContent li {
    background: url("http://d3mrtwiv4dr09z.cloudfront.net/media/wysiwyg/pixel-transparent-0-1-opacity.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    font-size: 12px;
    min-height: 120px;
    padding: 10px 10px 10px 18px;
    text-align: left;
    vertical-align: top;
    width: 181px;
}

#subscriptionsContent ul#bullet li {
    background-image: none;
    display: list-item;
    list-style: disc outside none !important;
    margin-left: 10px;
    min-height: inherit;
    padding: 0;
    text-align: left;
    width: 150px;
}

#subscriptionsContent li h5 {
	font-family: "Museo Slab 500", "Museo 500";
	font-size: 19px;
	line-height: 19px;
	padding-bottom: 10px;
	text-align: center;
}

#subscriptionsContent li span {
    font-size: 10px;
}

#subscriptionsContent .category-view {
    float: left;
    text-align: center;
    width: 420px;
}

#subscriptionsContent .promo {
    height: 250px;
}

#subscriptionsContent .violator {
	background: rgba(0, 0, 0, 0) url('../images/violator-background-subscriptions.png') no-repeat scroll 0 0;
	color: #FFFFFF;
	font-family: "Museo Slab 500", "Museo 500";
	font-size: 13px;
	font-weight: bold;
	height: 59px;
	left: 34px;
	padding-top: 19px;
	position: absolute;
	text-align: left;
	top: 1px;
	width: 83px;
	z-index: 10;
}
#subscriptionsContent img {
	margin-bottom: 20px;
	margin-top: 5px;
}

.left-nav {
    margin: 10px 12px 20px 5px;
}

.left-nav .sub-category {
    border-top: 1px solid #502E0E;
    margin: 16px 0 0;
    padding: 16px 0 0;
}

.left-nav.left-nav-account {
    margin-top: 52px;
}

.left-nav .sub-category:first-child, .left-nav-layered .sub-category-clear + .sub-category {
    border-top: 0 none;
    margin-top: 0;
    padding-top: 0;
}

.left-nav .sub-category dt, .col2-left-layout .sidebar .cms-menu > .parent > a {
	color: #E0A065;
	font-family: "Museo Slab 500", "Museo 500";
	font-size: 13px;
	font-weight: 700;
	margin: 0 0 5px 5px;
	text-transform: capitalize;
}

.left-nav .sub-category dd, .col2-left-layout .sidebar .cms-menu li {
    margin: 0 0 2px;
}

.left-nav .sub-category dt a, .col2-left-layout .sidebar .cms-menu > .parent > a, .col2-left-layout .sidebar .cms-menu > .parent > a:hover {
	background: none repeat scroll 0 center rgba(0, 0, 0, 0);
	color: #E0A065;
	font-family: "Museo Slab 500", "Museo 500";
	font-size: 13px;
	font-weight: 700;
	text-decoration: none;
}

.left-nav .sub-category dd a, .col2-left-layout .sidebar .cms-menu > .parent ul a, .col2-left-layout .sidebar .cms-menu > .parent ul strong {
    color: #CBBBA7;
    display: block;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    margin: 0 -13px 0 0;
    padding: 3px 12px 3px 8px;
    text-decoration: none;
}

