/* CSS layout */

.account-login .form-list:after, .wishlist-management .table-caption:after, .product-options dt:after, #bundleProduct:after, .events-slider:after, 
.product-image-popup .nav:after, .gift-item:after, .block-content:after, .block-list li.item:after, .block-poll li:after, .currently li:after, 
.order-info:after, .top-cart .actions:after, .header .quick-access:after, .product-view .box-related li.item:after, .bundle-summary .product:after, 
.collateral-tabs:after, .block-cart .block-content .item:after, .clearer:after, .header-container:after, .header-container .top-container:after, 
.header:after, .header-panel:after, #nav:after, .main:after, .footer-before-container:after, .footer-container:after, .footer:after, .col-main:after, 
.col2-set:after, .col3-set:after, .col4-set:after, .search-autocomplete li:after, .block li.item:after, .block .actions:after, .mini-products-list li:after, 
.cms-index-index .block-featured li.item:after, .title-buttons:after, .pager:after, .sorter:after, .ratings:after, .add-to-box:after, .add-to-cart:after, 
.products-grid:after, .products-list li.item:after, .product-view:after, .product-view .product-img-box .more-views ul:after, .product-view .box-tags 
.form-add-tags:after, .product-options .options-list li:after, .options-container-small .product-options:after, .product-options-bottom:after, 
.product-review:after, .box-collateral:after, .box-collateral .box-content:after, .collateral-tabs .tab-content:after, .account-login:after, 
.cart .cart-collaterals:after, .cart:after, .opc .step-title:after, .checkout-progress:after, .form-list li:after, .form-list li.fields .field:after, 
.clearfix:after, .buttons-set:after, .buttons-set2:after, .page-print .print-head:after, .new-product-spotlight .more-new .item:after, .addresses-list 
.col-2 li:after, .product-view .product-shop:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
}

img {
    border: 0 none;
    vertical-align: top;
}

a {
    color: #444444;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
:focus {
    outline: 0 none;
}
h1 {
    font-size: 18px;
    font-weight: normal;
}
h2 {
    color: #000000;
    font-size: 16px;
    font-weight: normal;
}
h3 {
    font-size: 14px;
    font-weight: bold;
}
h4 {
    font-size: 13px;
    font-weight: bold;
}

h5 {
    font-size: 12px;
    font-weight: bold;
}
h6 {
    font-size: 11px;
    font-weight: bold;
}

body {
	background: rgba(0, 0, 0, 0) url("../images/background.jpg") repeat scroll 0 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 0px;
	text-align:center;	
}

#header {
	height: 120px;
	margin: 0 0 -120px;
	position: relative;
	width: 100%;
	z-index: 1500;	
}

#header:after {
    content: "";
    display: block;
    overflow: hidden;
}

.top-navigation-holder {
	position: relative;
	z-index: 1498;	
	background-color: #352114;
}

#top-navigation {
	height: 90px;
	margin: 0 auto;
	width: 973px;
	z-index: 1499;
}

.global-nav-container {
	background: none repeat scroll 0 center;
	margin: 0;
	padding: 0;
	z-index: 1430;
	width: 604px;
	left:500px;
	position: absolute;
}

#logo {
	left: 305px;
	position:absolute;
	z-index: 999;
}

.global-nav {
	display: inline-table;
	padding: 0;
	position: relative;
	width: 604px;
}

.global-nav .level-top {
	float: left;
	height: 28px;
	list-style: none outside none;
	padding: 2px 10px;
	margin-right: 10px;
}

.global-nav .level-top > a {
    color: #E8E2CF;
    display: block;
    font-family: "museo-slab-n5","museo-slab",serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

.global-nav .level-top > a:hover {
	text-decoration: underline;
}
	
.page {
	margin: 0 auto;
	text-align: center;
	width: 1170px;
}

.main {
    background: none repeat scroll 0 center rgba(0, 0, 0, 0);
    border: 0 none;
    margin: 0 auto;
    min-height: 350px;
    text-align: left;
}

.page .col1-layout, .page .col3-layout, .page .col2-left-layout, .page .col2-right-layout {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.page .col2-left-layout {
	margin: 0;
	width: 1170px;
}

.page .main {
    border: 0 none;
}

.col-main {
	float: left;
	padding: 0 20px 20px;
	width: 715px;
	min-height: 500px;
}

.col1-layout {
    background-position: -1000px 0;
}
.col1-layout .col-main {
    float: none;
    padding-top: 20px;
    width: auto;
}
.col1-layout .breadcrumbs {
    margin-bottom: 0 !important;
}

.cms-home .col1-layout .col-main, .cms-index-index .col1-layout .col-main {
    padding: 0;
}

.cms-homepage .content-wrapper .promo {
	height: 382px;
	margin: 0 auto 60px;
	padding: 0;
	position: relative;
	width: 973px;
}

.cms-homepage .content-wrapper .promo li {
	float: left;
	padding-left:0;
	padding-right: 12px;
}
.cms-homepage .content-wrapper .promo li:first-child {
    padding-left: 0;
    padding-right: 12px;
}
.cms-homepage .content-wrapper .promo li:last-child {
    padding-right: 0;
}

.cms-homepage .content-wrapper .promo h3 {
	color: #FFFFFF;
	font-family: "Museo Slab 500", "Museo 500";
	font-size: 20px;
	font-weight: 500;
	margin: 0;
	padding: 10px 0 10px 20px;
	width: 150px;
}

.cms-homepage .content-wrapper .promo a {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
}

.cms-homepage .promo .narrow {
    width: 195px;
}

.cms-homepage .hp-slider-overlay {
    height: 523px;
    left: 112px;
    padding: 185px 0 0 36px;
    position: absolute;
    top: 0;
    width: 398px;
}

.cms-homepage .hp-slider-overlay .hp-slider-violator {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    line-height: 10px;
    padding: 6px 10px;
    width: 90px;
    display: inline;
    padding: 6px 10px;
}

.cms-homepage .hp-slider-overlay .hp-slider-h3 {
	color: #FFFFFF;
	font-family: "Museo Slab 500", "Museo 500";
	font-size: 39px;
	font-weight: 500;
	line-height: 39px;
	padding-top: 15px;
}
.cms-homepage .hp-slider-overlay .hp-slider-h4 {
	color: #FFFFFF;
	font-family: "Museo Slab 500", "Museo 500";
	font-size: 15px;
	font-weight: normal;
	margin-bottom: 20px;
	padding-top: 9px;
}

.cms-homepage .hp-slider-overlay .product-shop-grid {
    background-color: #A9861D;
    border-top: 2px solid #BA9E4A;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: normal;
    padding: 2px 10px;
    text-transform: uppercase;
}

.product-shop-grid {
    background-color: #A9861D;
    border-top: 2px solid #BA9E4A;
    border-width: 2px 0 0;
    box-shadow: 0 3px 3px -1px #000000;
    color: #FFFFFF;
    font-size: 45px;
    font-weight: bold;
    padding: 3px 10px;
    text-decoration: none;
}

.cms-homepage .promo .hp-slider-violator {
    color: #FFFFFF;
    display: inline;
    font-size: 13px;
    left:0;
    padding: 5px 10px;
    position: absolute;
    top: 76px;
}

.cms-homepage .promo .promo-description {
	left: 10px;
	position: absolute;
	top: 275px;
}

.cms-homepage .content-wrapper .promo .description {
	color: #FFFFFF;
	font-size: 13px;
	padding: 5px 0 5px 0px;
	text-align: left;
}

.content-wrapper .narrow.dk_green {
	background: rgba(0, 0, 0, 0) url('../images/promo-background-green-patterned.png') no-repeat scroll 0 0;
	height: 383px;
	overflow: visible;
	width: 198px;
}

.cms-homepage .content-wrapper .promo3 {
    background: url('../images/homepage-promo-background-new-java.png') no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 382px;
    width: 356px;
    position: relative;
}


.cms-homepage  div.wrapper div.page div.main div.col-main div.content-wrapper ul.promo li div.promo3 div.promo-description {
	left: 10px;
	position: absolute;
	top: 265px;
}

.cms-homepage  div.wrapper div.page div.main div.col-main div.content-wrapper ul.promo li div.promo3 p.description {
	color: #FFFFFF;
	font-size: 13px;
	padding: 5px 0 5px 10px;
	text-align: left;
}

.cms-homepage .content-wrapper .promo3 .description {
	color: #FFFFFF;
	font-size: 13px;
	padding: 5px 0 5px 10px;
	text-align: left;
}

.cms-index-index .page .col1-layout {
    padding: 0;
}

.cms-index-index .page .main {
    width: 1170px;
}

.cms-index-index .content-wrapper {
    padding: 0 100px 75px;
}

.cms-index-index .content-wrapper {
    padding: 0 !important;
}


.content-wrapper {
    overflow: hidden;
    padding-left: 45px;
}

.content-wrapper #carousel {
    margin-top: 0 !important;
}

li {
	list-style-type: none;
}

ul, ol {
    list-style: none outside none;
}


ul {
	margin: 0px;
	padding: 0px;
}


ul.bjqs {
    display: none;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.bjqs .hp-slider-title {
	bottom: 39px;
	color: #FFFFFF;
	font-family: "Museo Slab 500", "Museo 500";
	font-size: 13px;
	left: -10px;
	line-height: 17px;
	margin-left: 42px;
	position: absolute;
	text-align: center;
}

@font-face {
    font-weight: 500;
}
@font-face {
    font-weight: 300;
}

.clear {
    clear: both;
}

.category-view .note-msg, .category-description {
    padding: 20px 20px 20px 55px;
}
.social-media-icons {
    display: none;
}
.breadcrumbs {
    left: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    position: relative !important;
    top: 0 !important;
}

#container {
	clear: both;
	min-width: 600px;
}

#left_col {
	float: left;
	width: 200px;
}

#page_content {
	margin-left: 200px;
}

#footer {
	background: rgba(0, 0, 0, 0) url("../images/footerbg.png") repeat-x scroll 0px 0px;
	height: 316px;
	margin-top: -5px;
	position: relative;

	clear:both;
}

#footer .main {
   background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    min-height: 0 !important;
    padding: 0 !important;
    width: 960px;	
    clear:both;
}

.cms-index-index .main, .cms-index-index .col-main {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

body[class*="cms-"] .main, body[class*="cms-"] .col-main {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.content {
    margin: 0 auto;
    width: 1170px;
    min-height: 160px;
    overflow: hidden;
}

#footer .footerMenu {
	float: left;
	padding-right: 20px;
	position: relative;
	text-align: left;
	top: 25px;
	width: 160px;
	z-index: 998;
}

#footer .footerMenu h3 {
	color: #F3E4D1;
	font-family: "Museo Slab 500", "Museo 500";
	font-size: 12px;
	font-weight: 500;
	margin: 0 0 12px;
	text-transform:uppercase;
}

#footer .footerMenu h3 a {
    color: #F3E4D1;
}
#footer .footerMenu a {
	color: #C8A578;
	font-size: 13px;
	line-height: 22px;
	text-decoration: none;
	text-align: left;
	position: relative;

}
#footer .footerMenu a:hover {
	text-decoration: underline;
}

#footer .footerPrimaryLinks {
	padding: 0 20px 96px 0;
}

#footer .footerPrimaryLinks a {
    font-weight: bold;
    padding: 0 96px 0 0;
}

address .copyright {
	display: inline-block;
	margin: 0 14px 0 0;
	clear:both
}

#footer .copyright{
	clear:both;
	font-size: 10px;
	position: absolute;
	top: 210px;	 
}

#footer .copyright span {
    color: #F3E4D1;
}

#footer .copyright a {
    color: #F3E4D1;
    padding-left: 15px;
    text-decoration:none;
}

#footer .copyright a {
    color: #F3E4D1;
    padding-left: 15px;
    text-decoration: none;
}

#footer .copyright a:hover {
     text-decoration:underline;
}

#carousel {
	height: 610px;
	width: 973px;
	position: relative;	
	overflow: hidden;
	margin: -320px auto 0;
	padding-bottom: 10px;
}

#carousel .hp-slider-overlay {
    padding-left: 45px;
    padding-top: 135px;
}

#dontRoastPOV a, #dontRoastPOV a:hover {
    color: #F2CFA5;
}

#dontRoastPOV a:hover {
    text-decoration: underline;
}

#dontRoastPOV a {
	background: rgba(0, 0, 0, 0) repeat scroll left top;
	margin-top: 10px;
	padding: 1px 5px;
}

#dontRoastPOV p {
    margin-top: 17px;
}

#dontRoastPOV .POVcallouts {
    color: #E1D0B4;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 20px;
    position: absolute;
    text-align: center;
}

#mayanMocha .hp-slider-copy, #mayanMocha .hp-slider-h3, #mayanMocha .hp-slider-link {
	color: #FFFFFF;
	font-family: "Museo Slab 500", "Museo 500";
}

#mayanMocha .hp-slider-h3 {
    font-size: 52px;
    line-height: 57px;
}

#mayanMocha .hp-slider-copy {
    font-size: 17px;
    padding-top: 18px;
}

#mayanMocha .hp-slider-link {
	font-size: 19px;
	padding-top: 18px;
}

#annivBlend2014 {
    height: 475px;
    width: 810px;
}

#annivBlend2014 .product-shop-grid {
    left: 163px;
    position: relative;
    top: 24px;
}

#annivBlend2014 .hp-slider-h4 {
    line-height: 21px;
    padding-top: 6px;
}

#annivBlend2014 .hp-slider-callout {
    background-image: none;
    bottom: 0;
    color: #F5F6E8;
    font-size: 12px;
    position: absolute;
    right: 5px;
}

.hp-slider-link a {
	color: #FFFFFF;
	font-family: "Museo Slab 500", "Museo 500";
	text-decoration: none;
}
.hp-slider-link a:hover {
    text-decoration: underline;
}

#mayanMocha .hp-slider-violator {
    font-size: 15px;
}

#carousel #mayanMocha.hp-slider-overlay {
    left: 600px;
    padding-left: 0;
    padding-top: 0;
    top: 210px;
}

li.bjqs-slide {
    position: absolute;
	height: 610px; 
	width: 100%; 
}

.wrapper .col-main, #wrapper .col-main {
    padding-top: 120px;
}

.wrapper {
    background: none repeat scroll 0 center rgba(0, 0, 0, 0);
    padding: 0;  
}




    