  /* CSS layout */
body {
	margin: 0;
	padding: 0;
}
p {
	font-size: 12px;
	font-family: "Museo Slab 500", "Museo 500"
}

#masthead {
}

#top_nav {
}

#container {
	min-width: 600px;
}

#left_col {
	width: 200px;
	float: left;
}

#page_content {
	margin-left: 200px;
}

#footer {
	clear: both;
}
