/* CSS layout */
#masthead {
}
#top_nav {
}
#page_content {
}
#footer {
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
}
.qa {
	color: #488FDF;
	background-color: #FBFB00;
	font-size: 16px;
	font-weight: bold;
}
