#banner {
	background-color: #99FF66;
	float: left;
	width: 300px;
}
#content {
	background-color: #66FFFF;
	float: right;
	width: 500px;
}
#footer {
	background-color: #FFFF99;
	clear: both;
}
#container {
	width: 800px;
	margin: auto;
}
