#branding {
	float: left;
	width: 250px;
	background-image: url('cgf_branding_bg.gif');
	background-repeat: no-repeat;
	min-height: 625px;
}
#content {
	padding: 10px;
	background-color: #EDEAE7;
	float: right;
	width: 480px;
}
#footer {
	background-color: #CCCCCC;
	clear: both;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
}
#container {
	width: 750px;
	margin: auto;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #693C17;
	background-image: url('cgf_body_bg.gif');
	background-repeat: repeat-x;
	margin-top: 0;
	margin-left: 0;
}

h1 {
	font-size: 18px;
}
h2 {
	font-size: 16px;
}
