  /* CSS layout */
body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #41924B;
	background-color: #9BDBEB;
}
#masthead {
	background-image: url('assets/tw_header.gif');
	background-repeat: no-repeat;
	height: 197px;
}

#top_nav {
}

#container {
	min-width: 600px;
	background-image: url('assets/tw_bg.gif');
	background-repeat: repeat-y;
}

#left_col {
	width: 200px;
	float: left;
}

#page_content {
	padding: 15px;
	margin-left: 200px;
	background-color: #FFFFFF;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-width: 4px;
	border-left-width: 4px;
	border-top-color: #87E293;
	border-bottom-color: #87E293;
}
#footer {
	clear: both;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
}
li {
	list-style-type: square;
}
.highlight {
	font-weight: bold;
	background-color: #FFE9BB;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: #FE8402;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #51A5BA;
	margin: 0px;
}
h2 {
	font-size: 18px;
	font-weight: bold;
	color: #51a5ba;
}
a:visited {
	color: #18677A;
}
