vti_encoding:SR|utf8-nl
vti_author:SR|razuniga\\Roy
vti_modifiedby:SR|razuniga\\Roy
vti_timelastmodified:TR|08 Mar 2014 22:36:23 -0000
vti_timecreated:TR|23 Feb 2014 04:13:58 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|contact.html faq.html joinup.html default.html
vti_syncwith_cois-linux.austincc.edu\:22public_html/unitb:TX|23 Feb 2014 04:13:58 -0000
vti_syncofs_cois-linux.austincc.edu\:22public_html/unitb:TW|23 Feb 2014 04:32:38 -0000
vti_syncwith_cois-linux.austincc.edu\:22/public_html/connectup/unitb:TX|23 Feb 2014 04:13:58 -0000
vti_syncofs_cois-linux.austincc.edu\:22/public_html/connectup/unitb:TW|23 Feb 2014 04:36:37 -0000
vti_nexttolasttimemodified:TW|02 Mar 2014 00:08:50 -0000
vti_syncwith_cois-linux.austincc.edu\:22/public_html/connectup/unitd:TX|02 Mar 2014 00:08:50 -0000
vti_syncofs_cois-linux.austincc.edu\:22/public_html/connectup/unitd:TW|02 Mar 2014 00:16:46 -0000
vti_cacheddtm:TX|08 Mar 2014 22:36:23 -0000
vti_filesize:IR|305
