/* CSS Document */
body{ margin:0; font-family:Verdana, Arial, Helvetica, sans-serif;}
.amount1{ font-size:22px; font-weight:bold; color:#FF8200; }
.amount{ font-size:18px; color:#5FAAD6; }

.content{ padding-top: 50px; padding-left: 10px; font-size:9px; font-weight:bold; color:#FF8E00; }
.content1{ font-size:9px; color:#4F4F4F; }
.content_2{ font-size:8px; color:#4F4F4F; }
.content2{ font-size:9px; color:#FF8E00; }
.content3{ font-size:9px; font-weight:bold; color:#000000; }
.content5{ font-size:10px; font-weight:bold; color:#000000; }
.content6{ font-size:12px; font-weight:bold; color:#FF4800; }
.content7{ font-size:9px; text-decoration:underline; color:#4F4F4F; }
.copy{ padding-left: 20px; padding-top: 35px; font-size:10px; color:#747474; }

.footer { background:url(image/footer.jpg) no-repeat; width:778px; height:67px; }
.form{ font-size:12px; height:18px; }
.form1 {border:1px solid #000000; font-size:10px; color:#000000; }

.head_txt{ padding-left: 25px; padding-top: 35px; font-size:20px; font-weight:bold; color:#226DA2; }
.head_txt1{ padding-left: 40px; padding-top: 2px; width: 300px; font-size:16px; font-weight:bold; color:#226DA2; }
.header{ width:298px; height:175px; float:left; background:url(image/header_left.jpg) no-repeat; }
.header1{ width: 480px; height: 175px; float: right; background:url(image/header_right.jpg) no-repeat; }

.home{ padding-left: 60px; font-size:10px; color:#3B4350; }
.home a{ font-size:10px; color:#3B4350; text-decoration:none; }
.home a:hover{font-size:10px; color:#3B4350; text-decoration:none; }
.home1{ padding-left: 1px; font-weight:bold; font-size:14px; color:#FFFFFF; text-decoration:none; }
.home1 a{ font-weight:bold; font-size:14px; color:#FFFFFF; text-decoration:none; }
.home1 a:hover{ font-weight:bold; font-size:14px; color:#FFFFFF; text-decoration:none; }

.img{width: 480px; height: 201px; float: right; background:url(image/middle_right.jpg) no-repeat; }
.mid_img { background:url(image/mid_img.jpg) no-repeat; width:778px; height:499px; }

.linktxt{ padding-right: 35px; float: right; width: 155px; font-size:10px; color:#2276B2; }
.logotxt{ padding-top: 60px; padding-left: 30px; font-size:19px; color:#9E9E9E; }
.logotxt1{ font-size:20px; color:#226DA2; }
.logotxt2{ padding-top: 2px; padding-left: 50px; font-size:10px; color:#9E9E9E; }

.menu{ width: 298px; height: 201px; float: left; background:url(image/menu.jpg) no-repeat; }
.ok{ font-size:10px; font-weight:bold; color:#ffffff; }
.read{  font-size:11px; font-weight:bold; text-decoration:underline; color:#FF8200; }
.search{ font-size:10px; color:#9E9E9E; }
.send{ background:url(image/submit.jpg) no-repeat; font-size:10px; width:82px; height:19px; }
.total{ font-size:9px; font-weight:bold; color:#FF8E00; border: none; }
.weltxt{ font-size:14px; color:#FFFFFF; }
.weltxt1{ font-size:20px; color:#5FAAD6; }

