body {
    background-color: #A2A637;
    color: #8B4513;
    font-size: 14px;
    font-family: "MS Sans Serif",Verdana,Geneva,sans-serif;
    width:960px }

h1 {
    text-align: left;
    vertical-align: middle;
    color: white;
    background-color:black;
    height: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

.sub { display: table; height: 40px; }
.sub h3 {
    text-align: left;
    color: white;
    background-color:black;
    height:40px;
    margin-top: 0;
    margin-bottom: 0;
    display: table-cell;
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
    width:660px;
}

.location {
    color: white;
    font-weight: normal;
    margin-bottom: 0;
    background-color:black;
}

.header {
    background: url("at.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 241px;
    width: 960px;
}

.table1 {
    margin: 10px auto auto auto;
    border: 2px solid black;
    width: 900px;
    background-color: #E0CFA0;
    color: #485A28;
}

.table2 {
    margin: 10px auto auto auto;
    border: 2px solid black;
    width: 100%;
    background-color: #E0CFA0;
    color: #485A28;
    font-size:11px;
}

#nav { background-color: #485A28; width:960px; }
#nav a {
    color: white;
    font-size: 12px;
    margin-left: 40px;
    margin-right: 40px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

#nav a:first-child { margin-left: 70px; }
#nav a:hover { text-decoration: underline; background-color: #B28000; }

.main { display: table; float: left; height: 40px; }
.content {display:inline-flex}
.col-main { width: 875px; margin-left:25px }
.col-main td, th { padding: 5px; font-family: Arial, sans-serif; }
.content .col-main .table1 .altrow { background-color: #485A28; color: #E0CFA0; }
.content .col-main .table2 .altrow { background-color: #485A28; color: #E0CFA0; }
.footer { font:10px/12px Tahoma; }









