body { background-color: #11465F; color: #B4DC2A; font-size: 14px; font-family: "Arial"  }

.header { background: none repeat scroll 0 center rgba(0, 0, 0, 0); display: inline-flex; }

.nav {
    background: url("../images/horizontal_filmstrip.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 130px;
    margin-top: 20px;
    width: 900px;
}
a.nav {
    color: #E2A939;
    font-size: 20px;
    line-height: 28px;
    margin-left: 75px;
    margin-right: 50px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    top: 45px;
}
a.nav:hover { text-decoration: underline }

.logo { width:300px; height:175px }
.col-main { width: 875px; margin-left:25px }
.content {display:inline-flex}

.table{ margin-left:200px }
.table > th { text-align:center }

.footer { font:10px/12px Tahoma; }





