body {
    background-color: #11465F;
    color: #E2A939;
}
.header {
    background: none repeat scroll 0 center rgba(0, 0, 0, 0);
    display: inline-flex;
}
.logo {
    height: 175px;
    width: 300px;
}
.nav {
    background: url("../images/horizontal_filmstrip.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 130px;
    margin-top: 20px;
    width: 900px;
}
.col-main {
    margin-left: 0;
    width: 937px;
    position: relative;
    float: right;
}

.sidebar {
    float: left;
}
a {
    color: #E2A939;
    font-size: 20px;
    line-height: 28px;
    margin-left: 75px;
    margin-right: 75px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    top: 45px;
}
a:hover {
    text-decoration: underline;
}
