  /* CSS layout */
body {
	margin: 0;
	padding: 0;
	font-family: "Times New Roman", Times, serif;
	color: #996E5C;
	background-color: #BFCCB8;
}

footer {
	font-size: 12px;
	margin-top: 20px;
}
li {
	list-style-type: square;
}

h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 22px;
	font-weight: bold;
	margin: 0;
	text-align: center;
}

h2 {
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	text-align: center;
}

p {
	line-height: 150%;
    font-size: 16px;
}
  /* --------------------------------------
     Typography
     -------------------------------------- */
.well {margin: 20px 0 0 0; padding-bottom: 0; background-color: #E5E5CF}
.well > .page-header { margin-top:0; border: none;  margin-bottom:0 }
.well > .page-header h1 {margin-top:0 }
.well >  p {text-align:center }
p > a {text-decoration: underline; text-align: center }
