body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	background-color: #a2e2f3;
	margin-top: 0;
	margin-left: 0;
}

#container {
	width: 750px;
	margin: auto;
	background-image: url('../assets/cuc_container_bg.gif');
	background-repeat: repeat-y;
}

#banner {
	float: left;
	width: 250px;
	background-image: url('../assets/cuc_banner_bg.gif');
	background-repeat: no-repeat;
	min-height: 625px;
	background-color: #13171B;
}

#content {
	padding: 10px;
	background-color: #FFFFFF;
	float: right;
	width: 480px;
}

#sidebar {
	background-color: #A2E2F3;
	padding: 5px;
	width: 150px;
	height: 200px;
	float: right;
	overflow: auto;
}

#footer {
	background-color: #CCCCCC;
	clear: both;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
}

h1 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #6FD917;
	margin: 0px 0px 10px 0px;
}
h2 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #FF8800;
	text-transform: uppercase;
	letter-spacing: -2px;
}

