body
{
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0;
    margin-bottom: 0;
}
td
{
    font-family: Tahoma;
    font-size: 11px;
    color: #5C5C5C;
}
a:hover
{
    text-decoration: none;
}
.ct
{
    text-decoration: none;
    color: #5C5C5C;
}
.ct:hover
{
    text-decoration: underline;
}
.menu
{
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}
.menu:hover
{
    text-decoration: underline;
}
.sp1
{
    color: #BC0016;
    text-decoration: underline;
}
.sp1:hover
{
    text-decoration: none;
}